body{
	background-color: #ccc;
	background-image: url("img/background3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: left bottom;
	text-indent: 15px;
	word-spacing: 2px;
	letter-spacing: 0.1px;
}

#caja{
	border: 5px solid black;
	padding: 10px;
	background-color: rgb(94, 131, 212);
	color: white;
	font-family: "Open Sans";
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	text-decoration: underline overline;
}

h2{
	color: green;
	background-color: white;
	border: 5px solid red;
	background-image: url("img/background2.jpg");
}

p{
	color: white;
}