/*

Ejercicio completo HTML y CSS

(HECHO) 1. Crear un documento HTML y vincularlo con un CSS.
(HECHO) 2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL,
	CABECERA, MENU, BARRA LATERALM SECCION DE CONTENIDO PRINCIPAL,
	ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, Y FOOTER.
(HECHO) 3. Todo el contenido debe estar dentro del contenedor general
	y su ancho será 1200px y estar centrado.
(HECHO) 4. Header debe ocupar el 100% del ancho y tener un texto grande
	centrado.
(HECHO) 5. Menu debe tener los elementos uno al lado del otro.
(HECHO) 6. El contenido principal debe tener un  ancho del 70%.
(HECHO) 7. El contenido dentro del contenedor principal debe ser 
	una cuadricula con 4 lineas de 2 cajas.
(HECHO) 8. La barra lateral debe tener un ancho del 30%.
(HECHO) 9. El footer debe tener un ancho del 100% del div que lo contiene
	y estar debajo del todo.

*/

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#general{
	width: 1200px;
	border: 1px solid black;
	margin: 0px auto;
	margin-top: 20px;
}

#header{
	width: 100%;
	height: 100px;
	background-color: rgb(15, 118, 236);;
	color: white;
	text-align: center;
	line-height: 90px;
}

#menu{
	background-color: #eee;
}

#menu ul li{
	display: block;
	float: left;
	border-right: 1px solid #ccc;
}

#menu ul li a{
	display: block;
	padding: 15px;
	color: #444;
}

#menu ul li:hover{
	background-color: rgb(16, 75, 143);
	cursor: pointer;
}

#menu ul li:hover a{
	color: white;
}

.clearfix{
	float: none;
	clear: both;
}

#contenido{
	float: left;
	width: 69%;
}

#contenido > h1{
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 15px;
	color: #444;
	text-shadow: 2px 2px 2px gray;
}

#contenido .caja{
	width: 40%;
	height: 250px;
	background-color: #ccc;
	border: 1px solid gray;
	float: left;
	margin: 20px;
	margin-left: 40px;
	text-align: center;
	line-height: 220px;
	text-transform: uppercase;
	color: #444;
	box-shadow: 3px 3px 2px gray;
	border-radius: 10px;
}

#lateral{
	float: left;
	width: 30%;
	border: 1px solid #ccc;
	min-height: 500px;
	max-height: 650px;
	text-align: center;
	overflow-y: scroll;
}

.sombra-interior{
	box-shadow: 3px 3px 2px gray inset !important;
}

footer{
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #eee;
	text-align: center;
	color: #444;
	border-top: 1px solid #ccc;
}

.libre{
	position: absolute;
	top: 300px;
	left: 13%;
	border: 1px solid black;
	background-color: red;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 13px;
	z-index: 2;
}

.libre1{
	z-index: 2;
}

.libre2{
	background-color: green;
	top: 280px;
	left: 15%;
	z-index: 1;
}

.fija{
	position: fixed;
	top: 50%;
	left: 0px;
	border: 1px solid black;
	background-color: blue;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 13px;
	z-index: 2;
}