@font-face{
	font-family: MontserratFuenteCustom;
	src: url(fonts/Montserrat/static/Montserrat-Regular.ttf);
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;

	/*Colores*/

	/*Colores del sistema*/
	color: mediumpurple;

	/*Colores hexadecimales*/
	color: #cccccc;

	/*Colores RGB*/
	color: rgb(255, 225, 107);
	
	/*Colores RGBA*/
	color: rgba(255, 19, 38, 1);
}

h3{
	font-family: MontserratFuenteCustom, "Comic Sans MS";
	font-size: 20px;
	font-weight: lighter;
	color: olive;
}

p{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
}