/*
######### SELECTORES #########
*/

*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
	background: red;
	color: white;
	padding: 10px;
}

a{
   font-size: 18px;
   color: green;
   text-decoration: none;
}

footer a{
    color: red;
}

#descripcion, #titulo{
    border: 5px solid black;
    padding: 15px;
}

#titulo{
     background: blue;
     border: 2px dashed white;
}
.parrafo{
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.parrafo1{
    background-color: green;
    color: white;
}

.parrafo3{
    background-color: orange;
    color: black;
}

#usuario form{
	border: 5px solid blue;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
}

#usuario form *{
	display: block;
}

/*Selector de atributo*/
input[type="text"]{
	margin-bottom: 15px;
	padding: 10px;
	width: 300px;
}

input[type="submit"]{
	background: green;
	color: white;
	padding: 15px;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid black;
	cursor: pointer;
}

/*Selector Hijo*/
#menu > li > a{
	font-size: 18px;
    color: red;
    text-decoration: none;
}

/*Prioridad*/ 
/*Contra más especifica sea una regla en css para prioridad tiene y contra mas abajo este escrita más prioridad tiene*/
/*Con !important tiene la máxima prioridad*/
#saludo h1{
	background: brown !important;
}

h1{
	background: purple !important;
}

