body{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#layout{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	justify-content: flex-end;*/
/*	justify-content: center;*/
/*	justify-content: space-around;*/
/*	justify-content: space-between;*/
	justify-content: space-evenly;
	
	height: 700px;
/*	align-items: baseline;*/
/*	align-items: center;*/
/*	align-items: flex-end;*/
	align-items: flex-start;
	
	border: 3px solid black;
	padding: 5px;
}

.caja{
	flex-grow: 1;
/*	flex-basis: calc((100% / 3) - 68px);*/
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 20px;
	border: 4px solid #222;
	margin: 10px;
	background-color: gray;
}

.red{
	align-self: flex-start;
	background-color: red;
}

.green{
	align-self: center;
	background-color: green;
}

.blue{
	align-self: center;
	background-color: blue;
}

.orange{
	align-self: flex-end;
/*	flex-basis: 100%;*/
	background-color: orange;
}