/*FUENTES*/
@font-face{
	font-family: "nevis";
	src: url("fonts/nevis.eot");
	src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
		url("fonts/nevis.woff") format("woff"),
		url("fonts/nevis.ttf") format("truetype"),
		url("fonts/nevis.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "fajala";
	src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "icons";
	src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
		 url("fonts/websymbols-regular-webfont.eot");
	src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("fonts/websymbols-regular-webfont.woff") format("woff"),
		url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
		url("fonts/websymbols-regular-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url("../img/paven.png");ç
}

a{
	color: #529125;
	text-decoration: none;
}

a:visited{
	color: #529125;
}

a:hover{
	color: #285616;
}

.red{
	color: #9b2422 !important;
}

.blue{
	color: #0c73f2 !important;
}

.orange{
	color: #d69d2a !important;
}

.icon{
	font-family: "icons";
	float: left;
	margin-right: 5px;
	margin-top: -2px;
}

.clearfix{
	float: none;
	clear: both;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
select{
	border: 1px solid #C9C9C9;
	box-shadow: 0px 0px 2px #ccc inset;
	background: white;
	padding: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: gray;
	transition: all 300ms;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
select:focus{
	border: 1px solid #70b231;
	color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	display: block;
	border-radius: 2px;
	border: 1px solid green;
	width: 60px;
	padding: 3px;
	background-color: #70b231;
	cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
	box-shadow: 0px 0px 2px gray;

}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
	box-shadow: 0px 0px 3px gray inset;
	text-shadow: 0px 0px 1px #ccc;
	
}

#header{
	min-width: 1024px;
	width: 100%;
	height: 250px;
	margin: 0px auto;
}

#header a{
	text-decoration: none;
}

#header #logotipo{
	width: 770px;
	margin: 0px auto;
	padding-top: 20px;
}

#header #logotipo img{
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 140px;
}

#header h1{
	text-align: center;
	font-size: 40px;
	font-family: "nevis";
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 10px;
	text-shadow: 0px 2px 1px #333333;
	transition: all 300ms;
}

#header h1:hover{
	text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a{
	color: #70b231;
}

#nav{
	width: 100%;
	height: 40px;
	background-color: #333333;
	color: white;
	font-family: sans-serif, Helvetica, Arial;
	font-size: 14px;
	box-shadow: 0px 0px 2px gray;
}

#nav ul{
	list-style: none;
	text-decoration: none;
	margin: 0px auto;
	width: 1090px;
}

#nav > ul > li{
	line-height: 40px;
	float: left;
	border-right: 1px solid gray;
	transition: all 300ms;
}

#nav ul li a{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	text-decoration: none;
}

#nav > ul > li > a:first-child{
	border-left: 1px solid gray;
}

#nav > ul > li:hover{
	background-color: #70b231;
	box-shadow: 0px 0px 4px green;
}

#nav > ul > li > ul{
	display: none;
	position: absolute;
	color: white;
	text-align: left;
	width: 160px;
	box-shadow: 0px 0px 2px gray;
	z-index: 1;
}

#nav > ul > li:hover > ul{
	display: block;
}

#nav > ul > li:hover > ul > li{
	background-color: #F2F1F0;
	border-bottom: 1px solid #D6D6D6;
	padding: 8px;
	line-height: 25px;
	font-size: 13px;
	transition: all 300ms;
}

#nav > ul > li:hover > ul > li a{
	color: #666666;
}

#nav > ul > li:hover > ul > li:hover{
	box-shadow: 0px 0px 6px #ccc inset;
	background-color: rgb(238, 237, 237);
}

#content{
	width: 1250px;
	min-height: 1100px;
	margin: 0px auto;
	font-family: sans-serif, Arial, Helvetica;
}

#aside, #frase{
	width: 200px;
	float: left;
	margin: 30px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 2px #ccc;
	font-family: sans-serif, Arial, Helvetica;
}

#frase{
	/*clear: both;*/
	width: 180px;
	padding: 10px;
	font-size: 14px;
	font-family: sans-serif;
}

#aside .widget{
	display: block;
	width: 180px;
	margin: 5px auto;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	border-bottom: 1px dashed #333333;
}

#aside .widget:last-child{
	margin-bottom: 20px;
}

#aside h3{
	display: block;
	color: #333333;
	width: 100%;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 15px;
	background: #f2f3f2;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
}

#aside li{
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 20px;
	list-style: square;
}

#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a{
	display: block;
	width: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button{
	margin-top: 5px;
	margin-bottom: 10px;
}

#aside input,
#aside label{
	margin: 0px auto;
	text-align: center;
}

#sections{
	float: right;
	width: 75%;
	font-family: sans-serif, Arial, Helvetica;
	nav-right: 20px;
}

#sections .titulo{
	font-family: "fajala";
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#sections section{
	margin-top: 40px;
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 4px #C9C9C9;
	color: #333333;
	font-size: 16px;
	overflow: hidden;
}

#sections .article{
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sections .date{
	color: gray;
	font-size: 14px;
}

#sections .stickerOne,
#sections .stickerTwo{
	position: absolute;
	margin-top: -38px;
	z-index: 0;
}

#sections .stickerTwo{
	margin-left: 860px;
}

#history{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#footer{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	margin-top: 40px;
	background-color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	box-shadow: 0px 0px 2px gray;
}