#boton{
	display: block;
	padding: 20px;
	background-color: green;
	color: white;
	width: 200px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;
	border: 5px solid rgb(6, 83, 6);
	transition: border 500ms, background 3s, border-radius 3s;
}

#boton:hover{
	border-radius: 15px;
	background: orangered;
	border: 5px solid red;
}

#caja{
	position: absolute;
	margin-top: 25px;
	width: 250px;
	height: 250px;
	background: yellow;
	color: white;
	border: 5px dashed black;
	font-size: 20px;
	text-align: center;
	line-height: 200px;
	animation-name: desplazamiento;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes desplazamiento{
	0%{
		top: 300px;
		margin-left: 0px;
		transform: rotate(0deg);
		border-radius: 0px;
		background-color: yellow;
	}
	25%{
		top: 600px;
		background-color: gray;
		border-radius: 300px;
	}
	50%{
		top: 300px;
		margin-left: 85%;
		transform: rotate(360deg);
		border-radius: 0px;
		background-color: red;
	}
	75%{
		top: 0px;
		border-radius: 300px;
		background-color: gray;
	}
	100%{
		top: 300px;
		margin-left: 0px;
		transform: rotate(0deg);
		border-radius: 0px;
		background-color: yellow;
	}	
}