body{
	font-family: sans-serif;
	text-align: center;
}

/*-----------------EJERCICIO CON AREAS-----------------*/

#website-areas *{
	margin: 0px;
	padding: 0px;
}

#website-areas{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 150px 70px 1fr 70px;

	grid-template-areas: 
		"cabecera cabecera cabecera cabecera cabecera"
		"menu menu menu menu menu"
		"contenido contenido contenido contenido lateral"
		"pie pie pie pie lateral";
	width: 75%;
	height: 1000px;
	margin: 0px auto;
	border: 1px solid #ccc;
}

#website-areas #cabecera{
	grid-area: cabecera;
	display: flex;
	justify-content: center;
	align-items: center;
	background: blue;
	color: white;
}

#website-areas #cabecera h1{
	align-self: center;
}

#website-areas #menu{
	grid-area: menu;
	background: lightblue;
	color: black;
	line-height: 70px;
}

#website-areas #menu ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#website-areas #menu a{
	text-decoration: none;
}

#website-areas #contenido{
	grid-area: contenido;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	padding: 20px;

	background: #eee;
}

#website-areas #contenido article{
	background: #ccc;
	border: 1px solid #555;
}
#website-areas #lateral{
	grid-area: lateral;
	background: orange;
	color: white;
}

#website-areas #pie-pagina{
	grid-area: pie;
	background-color: black;
	color: white;
}

/*-----------------EJERCICIO COMPLETO-----------------*/

#website *{
	margin: 0px;
	padding: 0px;
}

#website{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 150px 70px 1fr 70px;

	width: 75%;
	height: 1000px;
	margin: 0px auto;
	border: 1px solid #ccc;
}

#website #cabecera{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1 / 6;
	background: blue;
	color: white;
}

#website #cabecera h1{
	align-self: center;
}

#website #menu{
	grid-column: 1 / 6;
	background: lightblue;
	color: black;
	line-height: 70px;
}

#website #menu ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

#website #menu a{
	text-decoration: none;
}

#website #contenido{
	grid-column: 1 / 5;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	padding: 20px;

	background: #eee;
}

#website #contenido article{
	background: #ccc;
	border: 1px solid #555;
}
#website #lateral{
	grid-column: 5 / 6;
	background: orange;
	color: white;
}

#website #pie-pagina{
	grid-column: 1 / 6;
	background-color: black;
	color: white;
}


/*-----------------EJEMPLOS-----------------*/
.layout{
	width:80%;
	height: 400px;
	margin: 0px auto;

	display: grid;
/*	grid-template-columns: calc(50% - 7.5px) calc(25% - 7.5px) calc(15% - 7.5px) calc(10% - 7.5px);*/
/*	grid-template-columns: repeat(4, calc(25% - 7.5px));*/
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr) 3fr;
	grid-gap: 10px;
	
	padding: 10px;
	border: 3px solid orangered;
}

.layout .caja{
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 20px;
	border: 4px solid #222;
	background: gray;
}

.layout .red{
	grid-column-start: 1;
	grid-column-end: 4;

	background: red;
}

.layout .blue{
	background: blue;
}

.layout .green{
	background: green;
}

.layout .pink{
	background: palevioletred;
}

.layout .orange{
	grid-column: 2 / 3;
	background: orange;
}

.layout .lightblue{
	/*grid-column-start: 1;
	grid-column-end: 3;*/

	grid-column: 1 / 4;

	background: lightblue;
}