body{
	font-family: sans-serif;
	text-align: center;
}

.layout{
	width:80%;
	height: 400px;
	margin: 0px auto;

	display: grid;
/*	grid-template-columns: calc(50% - 7.5px) calc(25% - 7.5px) calc(15% - 7.5px) calc(10% - 7.5px);*/
/*	grid-template-columns: repeat(4, calc(25% - 7.5px));*/
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr) 3fr;
	grid-gap: 10px;
	
	padding: 10px;
	border: 3px solid orangered;
}

.layout .caja{
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 20px;
	border: 4px solid #222;
	background: gray;
}

.layout .red{
	grid-column-start: 1;
	grid-column-end: 4;

	background: red;
}

.layout .blue{
	background: blue;
}

.layout .green{
	background: green;
}

.layout .pink{
	background: palevioletred;
}

.layout .orange{
	grid-column: 2 / 3;
	background: orange;
}

.layout .lightblue{
	/*grid-column-start: 1;
	grid-column-end: 3;*/

	grid-column: 1 / 4;

	background: lightblue;
}